@model Tuspelis.Models.Buscador

@{
    ViewData["Title"] = "buscador";
}

<h1>Buscador</h1>


<div class="text-right form-inline">
    <form method="get" action=@Url.Action("Index", "Buscador" )>
        <div class="input-group">
            @Html.TextBox("query", null, new
            {
                placeholder = "Ingresar pelicula",
                                    @class = "form-control"
            })

            <button class="btn btn-default" type="submit">Buscar</button>
        </div>
    </form>
</div>

@if(Model != null && Model.results !=  null)
{ 
<div class="row row-cols-1 row-cols-md-3">
    @foreach (var item1 in Model.results)
    {
        var imagePath = @"https://image.tmdb.org/t/p/w500" + @item1.poster_path;
        <div class="col-3">

            <div class="card h-100">
                <img src=@imagePath class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@item1.title</h5>
                    <p class="card-text"> @Html.DisplayFor(modelItem => item1.original_language)</p>
                    <p class="card-text"> @Html.DisplayFor(modelItem => item1.release_date)</p>
                    <p class="card-text">  <a asp-controller="PeliculaDetalle" asp-action="ver" asp-route-id="@item1.id"> @Html.DisplayFor(modelItem => item1.id)</a> </p>
                </div>
            </div>
        </div>
    }
</div>
}